---
import DefaultLayout from "@layouts/Default/Default.layout.astro";
import ComponentOne from "../components/ComponentOne.astro";
---

<DefaultLayout title="about us">
	<h1>About Us page</h1>

	<br />
	<a href="/">Index page</a>
	<br />
	<a href="/contact">Contact page</a>

	<ComponentOne title="Component One" />

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus incidunt nam accusantium
		tempora autem magni eos adipisci quisquam? Quae ipsam aliquam at recusandae deserunt ab
		aperiam iure omnis nam necessitatibus!
	</p>
	<p>
		Earum quod consequuntur distinctio minus dignissimos expedita dolores doloribus facilis
		officiis commodi, possimus voluptates! Eius modi corporis esse quidem adipisci. Aut pariatur
		optio praesentium neque at architecto assumenda nesciunt itaque.
	</p>
	<p>
		Ratione quaerat ut quia inventore perferendis dolore aperiam nulla, rerum maiores in facere.
		Velit accusamus ipsa quam natus enim, placeat voluptates, error, cum praesentium blanditiis
		autem eveniet! Quidem, sequi voluptatem!
	</p>
	<p>
		Deserunt possimus vitae laborum quaerat, officiis perferendis illo ipsum fugiat quibusdam,
		amet perspiciatis sapiente commodi quis eveniet tempora neque? Sequi ipsa animi debitis
		ipsum quibusdam cumque impedit dolores temporibus deserunt!
	</p>
	<p>
		Laborum, itaque pariatur, iure voluptatem odit consequatur nulla sint nemo quam soluta
		debitis voluptates deserunt id omnis fugiat blanditiis saepe incidunt harum doloremque eius
		ad ut velit recusandae praesentium? Est!
	</p>
	<p>
		Eveniet numquam omnis incidunt qui esse ipsa laudantium corporis minus, nulla odio
		temporibus nam labore quae expedita laboriosam architecto debitis maiores fugiat eligendi
		sed beatae nihil accusantium tempore dolor. Incidunt?
	</p>
	<p>
		Modi ad tenetur et ipsa inventore quidem, dolorum fugiat accusantium ducimus corrupti fuga
		minima sapiente voluptatum aut atque optio nihil beatae architecto assumenda eligendi minus
		sit alias. Maiores, neque quaerat?
	</p>
	<p>
		Placeat iure numquam est fuga laborum modi quas corporis ex deleniti, sequi repudiandae enim
		fugit distinctio esse perferendis dolorem minima nulla odio praesentium laudantium? Eos
		omnis libero repudiandae vel similique!
	</p>
	<p>
		Officia molestias mollitia numquam ut tempora ex omnis minus quisquam non aut, nisi quam
		facere doloribus quia rem ea porro repellat! Eaque iste inventore, nulla expedita voluptatum
		similique dignissimos sit.
	</p>
	<p>
		Illum est cumque debitis ipsa vero aliquam vel ab maxime fugit culpa, quos voluptas
		voluptatum ratione adipisci facilis obcaecati labore minus quia aliquid facere dolores, enim
		quae? Dolores, provident odit.
	</p>
</DefaultLayout>

<style lang="scss">
	.about-page {
		background-color: #000;

		&__wrapper {
			color: red;
		}
	}
</style>
