---
// import DefaultLayout from '@layouts/DefaultLayout/default.layout.astro';
import ComponentTwo from "@components/ComponentTwo.astro";
---

<h1>Contact page</h1>

<br />
<a href="/">Index page</a>
<br />
<a href="/about">About page</a>

<ComponentTwo title="Component Two" />
