---
import ImgLogo from "@assets/img/logo--colored.png?url";

import W_Tooltip from "@widgets/Tooltip/Tooltip.widget.astro";
import W_FormInput from "@widgets/Input/Input.widget.astro";

import DefaultLayout from "@layouts/Default/Default.layout.astro";
import HomeHero from "@components/HomeHero/HomeHero.component.astro";
---

<style>
	.indexPage {
		background-color: red;
	}
</style>

<DefaultLayout title="Ana Sayfa">
	<div class="container">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<HomeHero />

		<div class="sticky bottom-3 right-3 flex gap-3">
			<button
				type="button"
				class="py-2 px-3 bg-indigo-500 text-white text-sm font-semibold rounded-md shadow focus:outline-none h-20"
				tabindex="-1"
				x-on:click="$store.modals.activate('W_Modal-1');">
				<W_Tooltip position="right" axis="start">tooltip top</W_Tooltip>
				 W_Modal-1 [x-tooltip:top.center]
			</button>

			<button
				type="button"
				class="py-2 px-3 bg-indigo-500 text-white text-sm font-semibold rounded-md shadow focus:outline-none"
				tabindex="-1"
				x-on:click="$store.modals.activate('W_Modal-2');">
				<W_Tooltip position="left" axis="start">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et arcu et
						eros fringilla dignissim. Ut sagittis risus eu pretium pharetra. Nam justo
						nisi, aliquam pellentesque massa ac, tempus gravida nibh. In hac habitasse
						platea dictumst. Suspendisse et felis eget tortor cursus convallis nec vitae
						lorem. Fusce tincidunt, nisi vel pretium mollis, nibh magna sollicitudin
						est, eget semper arcu massa at eros. Nunc at sem ac quam placerat luctus eu
						sit amet mauris. Suspendisse quis mauris eget dolor elementum porta. Aenean
						ligula purus, tristique ut cursus quis, commodo eget ex. Phasellus
						ullamcorper metus eu dui porttitor placerat. Sed tincidunt sagittis neque
						sagittis facilisis. Integer pellentesque accumsan risus, at posuere ipsum
						vestibulum in. Nulla convallis vestibulum diam in luctus. Nunc vestibulum,
						nibh non tempus sagittis, metus diam pulvinar tellus, a blandit velit dolor
						vitae turpis. Nam nisl nisl, auctor eu pharetra id, condimentum ut mauris.
						Sed eu elementum mi.
					</p>
				</W_Tooltip>
				 W_Modal-2 [x-tooltip:right.center]
			</button>

			<button
				type="button"
				class="py-2 px-3 bg-indigo-500 text-white text-sm font-semibold rounded-md shadow focus:outline-none"
				tabindex="-1"
				x-on:click="$store.modals.activate('W_Modal-3');">
				<W_Tooltip position="bottom" axis="end">tooltip bottom</W_Tooltip>
				 W_Modal-3 [x-tooltip:bottom.center]
			</button>

			<button
				type="button"
				class="py-2 px-3 bg-indigo-500 text-white text-sm font-semibold rounded-md shadow focus:outline-none"
				tabindex="-1"
				x-on:click="$store.modals.activate('W_Modal-4');">
				<W_Tooltip position="top" axis="end">tooltip bottom</W_Tooltip>
				 W_Modal-4 [x-tooltip:bottom.center]
			</button>

			<button
				type="button"
				class="py-2 px-3 bg-indigo-500 text-white text-sm font-semibold rounded-md shadow focus:outline-none"
				tabindex="-1"
				x-on:click="$store.modals.activate('W_Modal-5');">
				<W_Tooltip position="top" axis="end">tooltip bottom</W_Tooltip>
				 W_Modal-5 [x-tooltip:bottom.center]
			</button>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<form
			class="grid lg:grid-cols-3 gap-4"
			x-data="W_Form({ fullname: '', email: '', password: '' })"
			x-on:submit="submit">
			<div class="w-full">
				<W_FormInput
					name="fullname"
					label="Full name"
					type="text"
					placeholder="John Doe"
					x-validity="required|min:3"
				/>
			</div>
			<div class="w-full">
				<W_FormInput
					name="email"
					label="E-mail"
					type="email"
					placeholder="john.doe@example.com"
					x-validity="required|email"
				/>
			</div>
			<div class="w-full">
				<W_FormInput
					name="password"
					label="Password"
					type="password"
					placeholder="••••••••••••"
					x-validity="required|min:6|max:20"
				/>
			</div>
			<div class="w-full">
				<button type="submit">send</button>
			</div>
		</form>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<div
			class="W_Collapsible"
			x-data="{ isExpanded: false, timeout: null }"
			x-bind:class="{ 'W_Collapsible--expanded': isExpanded }"
			x-on:mouseenter.stop="isExpanded = true; clearTimeout(timeout);"
			x-on:mouseleave.stop="timeout = setTimeout(() => { isExpanded = false; }, 300);">
			<a href="/products" class="W_Collapsible__trigger"> Ürünlerimiz</a>
			<div class="W_Collapsible__panel">
				<div
					class="labelTest m-4 p-4 bg-slate-500 rounded-sm text-slate-100"
					x-label:asd="sss">
					<span
						>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus
						repellendus architecto officia reprehenderit nobis veniam ducimus, illo
						adipisci minima fuga eligendi sunt dignissimos praesentium explicabo alias.
						Sunt, saepe ab.</span
					>
				</div>
			</div>
		</div>

		<aside x-data="{ count: 0 }" class="bg-red-400 p-2">
			<button x-on:click="count = count + 1">set count</button>
			<div>You clicked <span x-text="count"></span> times</div>
			<header><a href="#">test component header</a></header>
			<main>test component main</main>
			<footer>test component footer</footer>
		</aside>

		<div
			class="W_Collapsible"
			x-data="{ isExpanded: false }"
			x-bind:class="{ 'W_Collapsible--expanded': isExpanded }"
			x-on:mouseover.stop="isExpanded = true;">
			<a href="/products" class="W_Collapsible__trigger"> Ürünlerimiz</a>
			<div class="W_Collapsible__panel">
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero eius
					consectetur aliquam repellat veritatis eos eligendi aperiam recusandae. Aliquam
					quam repellat voluptatem recusandae labore ipsam quibusdam porro esse asperiores
					laboriosam?
				</p>
			</div>
		</div>

		<br />
		<a href="/about/">About page</a>
		<br />
		<a href="/contact">Contact page</a>
		<br />
		<br />

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur ex, impedit
			molestiae, provident suscipit qui fugiat at, rerum recusandae odio placeat. Aperiam,
			sequi nobis? Recusandae impedit repellendus fugit vitae.
		</p>

		<header class="deneme">
			<img src={ImgLogo} alt="" />
		</header>
	</div>
</DefaultLayout>
