---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<h2 class="component-two">{title}</h2>

<style lang="scss">
	.component-two {
		color: blue;
		font-size: 36px;
	}
</style>
